@{
    ViewBag.Title = "About Us";
}

<h2>Troca de figurinhas Web!</h2>
<p>
     Somos um grupo que possibilita a troca de figurinhas entre os membros
cadastrados. Os usuários interessados podem colocar as figurinhas que têm à
disposição para troca ou procurar por figurinhas disponíveis. Oferecemos
funcionalidades que facilitam a busca de figurinhas e o gerenciamento das
transações de troca.
<br /><br />
Almejamos a facilidade de suas ações.
<br />
Seu tempo é precioso,
<br />
Cadastre-se já!
</p>
